@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#tracker {
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  /* background-color: black; */
}

#tracker {
  /* border: 1px solid salmon; */
  border: 2px solid rgb(221, 221, 221);
  padding: 25px 30px;
  width: 80px;
  /* height: 235px; */
  height: 70px;
  border-radius: 12px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  transition: all .3s;
  overflow: hidden;
  z-index: 10000;
  box-sizing: content-box !important;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.365); */
}

#tracker button {
  margin-top: 5px;
}

#controls {
  /* border: 1px solid salmon; */
  /* border: 2px solid rgb(221, 221, 221);
  padding: 25px 30px;
  width: 80px;
  height: 70px;
  border-radius: 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white; */
  display: none;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.365); */
}

.favIconImg {
  margin-top: -1px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 16px;
}

.dontMove button {
  border: 1px solid rgb(222, 222, 222) !important;
  border-radius: 5px !important;
  padding: 0 !important;
  padding: 5px !important;
  background-color: white !important;
  margin: 0 !important;
  width: auto !important;
  height: auto !important;
  box-sizing: content-box !important;
}

.dontMove input {
  border: 1px solid rgb(222, 222, 222) !important;
  border-radius: 5px !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 10px !important;
  padding-left: 5px !important;
  height: auto !important;
  width: 100% !important;
  box-sizing: content-box !important;
}


#graph {
  border-radius: 12px;
  /* border: 1px solid salmon; */
  /*padding: 0px;*/
  margin-top: 20px;
  height: 160px;
  display: flex;
  justify-content: space-between;
}

#barArea {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  /* border: 1px solid salmon; */
}

#siteList {
  /* border: 1px solid salmon; */
  /*padding: 0px;*/
  height: 20px;
  margin-top: 10px;
  display: flex;
  justify-content:center;
}

#limit {
  margin-top: 0px;
  margin-left: 0px;
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: 7px; /* dotted line offset */
  background-size: 20px 2px;
  background-repeat: repeat-x;
  height: 2px;
  position: absolute;
  width: 80px;
  z-index: 300;
}

#limitLabel {
  /* border: 1px solid salmon; */
  width: 25px;
  position: absolute;
  margin-left: -25px;
  margin-top: -10px;
  font-size: 12px;
  text-align: right;
}

#removeBlacklistBtn {
  margin-top: 8px !important;
}

.barContainer {
  width: 38px;
  /* border: 1px solid salmon; */
  margin: 0 20px;
  position: relative;
}

.site {
  width: 30px;
  text-align: center;
  /* border: 1px solid salmon; */
  margin: 0 20px;
}

.bar {
  width: 100%;
  height: 110%;
  background-color: salmon;
  vertical-align: baseline;

  position: absolute;
  bottom: 0;
  left: 0;
}

